{
  "root": true,
  "extends": [
    "eslint:recommended",
    "airbnb-typescript/base",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:vue/vue3-recommended",
    "@vue/eslint-config-typescript/recommended",
    "plugin:storybook/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "./tsconfig.json"
  },
  "plugins": ["vue", "@typescript-eslint"],
  "ignores": ["./scripts/*.js"],
  "rules": {
    "max-len": ["error", {
      "code": 100,
      "ignoreTrailingComments": true,
      "ignoreUrls": true,
      "ignoreStrings": true
    }],
    "no-param-reassign": ["error", { "props": false }],
    "object-curly-newline": ["error", {
      "multiline": true,
      "consistent": true
    }],
    "arrow-parens": ["error", "as-needed"],
    "no-nested-ternary": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "import/no-absolute-path": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/extensions": ["error", "ignorePackages", {
      "js": "never",
      "ts": "never"
    }],
    "vue/component-tags-order": ["error", { "order": ["template", "script", "style"] }],
    "vue/multi-word-component-names": "off",
    "vue/html-closing-bracket-newline": ["error", {
      "singleline": "never",
      "multiline": "never"
    }],
    "vue/max-attributes-per-line": ["error", {
      "singleline": 4,
      "multiline": 1
    }],
    "vue/singleline-html-element-content-newline": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["/@", "./src"]],
        "extensions": [".ts", ".json", ".vue", ".yaml"]
      }
    }
  }
}
