.b-calendar {
  display: inline-block;
  vertical-align: top;
  margin: var(--input-margin, 1px);
  line-height: 1;
  padding: 0.25rem;

  &__header {
    display: flex;
    align-items: center;
    margin: 0.5rem 0.75rem 0.75rem;

    a {
      color: inherit;
      margin: 0 0.25rem;
      padding: 0.5rem;

      &::before {
        display: block;
        content: "";
        height: 0.25em;
        width: 0.25em;
        border: 1px solid currentcolor;
        border-width: 2px 2px 0 0;
        transform: rotate(45deg);
      }

      &.prev::before { transform: rotate(-135deg); }
    }
  }

  &__label {
    flex: 1;
    text-align: center;
    text-transform: capitalize;
  }

  &__days {
    all: unset;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px 0;
    list-style: none;
  }

  &__weekday {
    text-align: center;
    opacity: 0.4;
    margin: 0 0 0.25rem;
    text-transform: uppercase;
    font-size: 0.7rem;
  }

  &__day {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.25rem;
    aspect-ratio: 1;
    cursor: pointer;
    transition: all 0.3s ease;

    &--today { color: var(--color-primary); }
    &--out { color: #aaa; }

    &--start,
    &--end {
      background: var(--color-primary);
      color: #fff;
      cursor: default
    }

    &--start,
    &:nth-child(7n + 1) {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &--end,
    &:nth-child(7n) {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    &--start ~ &:not(&--end, &--end ~ &) {
      background: color-mix(in srgb, var(--color-primary) 50%, transparent);
    }

    &--disabled {
      background: #d0d0d3;
      opacity: 0.25;
      cursor: not-allowed;
    }
  }

  // Date dropdown
  .b-selector {
    --border: none;
    --background: transparent;
    --padding: 0.125em;

    &__chevron { display: none; }
  }
}
