.b-datepicker {
  cursor: pointer;
  overflow: visible;

  &__label {
    align-items: center;
    padding: var(--padding);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
  }

  &__chevron,
  &__clear {
    padding: var(--padding);
    padding-left: 0;
  }

  &__placeholder { opacity: 0.5; }

  &__calendar {
    border: var(--input-border, 1px solid #8886);
    border-radius: var(--input-border-radius, 4px);
    background: var(--input-background, var(--color-bg, inherit));
  }
}
