.b-dropdown {
  position: relative;
  overflow: visible;

  &__toggler {
    display: flex;
    align-items: center;
    vertical-align: middle;
    width: 100%;
  }

  &__container {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    margin: 2px -2px;
    box-sizing: border-box;
    transform: translateY(-0.5rem);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition:
      all 0.3s ease,
      max-height 0s ease 0.3s;
  }

  &__container:hover,
  &__toggler:focus-within + &__container {
    opacity: 1;
    max-height: 100vh;
    transition: all 0.3s ease;
    overflow: visible;
    transform: none !important;
  }

  &.top > &__container {
    bottom: 100%;
    top: unset;
    transform: translateY(0.5rem);
  }

  &.right > &__container {
    left: unset;
    right: 0;
  }

  &.block { width: 100%; }

  &.disabled { cursor: not-allowed; }
}
