.b-dropdown {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  position: relative;
  overflow: visible;

  &__container {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    margin: 2px -2px;
    visibility: hidden;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(-0.5rem);

    :focus-within > &,
    &:hover {
      opacity: 1;
      visibility: visible;
      transform: none !important;
    }
  }

  &.top > &__container {
    bottom: 100%;
    top: unset;
    transform: translateY(0.5rem);
  }

  &.right > &__container {
    left: unset;
    right: 0;
  }

  &.block { width: 100%; }

  &.disabled { cursor: not-allowed; }
}
