.b-dropdown {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  position: relative;
  overflow: visible;

  &__container {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    margin: 2px -2px;
    box-sizing: border-box;
    transform: translateY(-0.5rem);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition:
      all 0.3s ease,
      max-height 0s ease 0.3s;

    :focus-within > & {
      opacity: 1;
      max-height: 100vh;
      transition: all 0.3s ease;
      transform: none !important;
    }
  }

  &.top > &__container {
    bottom: 100%;
    top: unset;
    transform: translateY(0.5rem);
  }

  &.right > &__container {
    left: unset;
    right: 0;
  }

  &.block { width: 100%; }

  &.disabled { cursor: not-allowed; }
}
