/* Global input styles */
.b-input {
  --padding: var(--input-padding, 0.5rem);
  --margin: var(--input-margin, 1px);
  --border-radius: var(--input-border-radius, 4px);
  --background: var(--input-background, var(--color-bg, inherit));
  --border: var(--input-border, 1px solid #8886);
  --color: currentcolor;

  display: inline-flex;
  align-items: center;
  margin: var(--margin);
  vertical-align: middle;
  color: inherit;
  background: var(--background);
  border: var(--border);
  border-radius: var(--border-radius);
  position: relative;
  line-height: 1;
  overflow: hidden;
  text-align: left;
  outline: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  min-height: calc(1em + 2 * var(--padding));
  width: calc(var(--width) - 2 * var(--margin));

  :focus-within > &:not(.disabled) {
    border-color: var(--input-color-focus, var(--color-primary, #39f));
  }

  &__prefix,
  &__suffix {
    flex: 0 0 content;
    max-width: 100%;
    display: flex;
    align-items: center;

    .disabled > & { pointer-events: none; }

    & > .b-icon { margin: var(--padding); }
  }

  &__prefix > .b-icon { margin-right: 0; }
  &__suffix > .b-icon { margin-left: 0; }

  &__clear {
    padding: var(--padding);
    padding-left: 0;
    cursor: pointer;
  }

  &__control {
    cursor: pointer;
    user-select: none;
    padding: var(--padding);
    margin: -1px;

    .b-icon { margin: 0; }

    &--disabled {
      pointer-events: none;
      color: transparent;
    }
  }

  .block &,
  &.block {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--number { text-align: center; }

  &--chips {
    overflow: visible;
    flex-wrap: wrap;

    .b-input__suffix {
      position: absolute;
      top: 100%;
      left: 0;
    }

    input { flex: 1 0 1rem; }

    .chips-group { margin: 0.25rem; }
  }

  input:not([type="radio"], [type="checkbox"]) {
    all: unset;
    min-width: 0;
    height: 1em;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: var(--padding);

    &[type="number"] {
      appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }
    }
  }
}

.input-group {
  display: inline-flex;
  border: 0;
  margin: var(--input-margin, 1px);
  padding: 0;

  & .b-input,
  & .b-button { margin: 0; }

  & > .b-input:not(:first-child),
  & > .b-button:not(:first-child),
  & > :not(:first-child) > .b-input,
  & > :not(:first-child) > .b-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
  }

  & > .b-input:not(:last-child),
  & > .b-button:not(:last-child),
  & > :not(:last-child) > .b-input,
  & > :not(:last-child) > .b-button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}
