/* Global input styles */
.input {
  --padding: var(--input-padding, 0.5rem);
  --margin: var(--input-margin, 1px);
  --border-radius: var(--input-border-radius, 4px);
  --background: var(--input-background, var(--color-bg, inherit));
  --border: var(--input-border, 1px solid #8886);

  display: inline-flex;
  gap: var(--padding);
  align-items: center;
  margin: var(--margin);
  padding: 0 var(--padding);
  vertical-align: middle;
  color: inherit;
  background: var(--background);
  border: var(--border);
  border-radius: var(--border-radius);
  position: relative;
  line-height: 1;
  overflow: hidden;
  text-align: left;
  outline: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  min-height: calc(1em + 2 * var(--padding));
  width: calc(var(--width) - 2 * var(--margin));

  :focus-within > & {
    border-color: var(--inpt-color-focus, var(--color-primary, #39f));
  }

  input {
    all: unset;
    min-width: 0;
    height: 1em;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: var(--padding) 0;

    &[type="number"] {
      appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }
    }
  }

  &__prefix,
  &__suffix {
    flex: 0 0 content;
    max-width: 100%;
    display: flex;
    align-items: center;

    .disabled > & { pointer-events: none; }
  }

  &__clear { cursor: pointer; }

  .block &,
  &.block {
    margin: 0;
    width: 100%;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.input-group {
  border: 0;
  margin: var(--input-margin, 1px);
  padding: 0;

  & .input,
  & .button { margin: 0; }

  .input:not(:first-child),
  .button:not(:first-child),
  & > :not(:first-child) > .input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
  }

  .input:not(:last-child),
  .button:not(:last-child),
  & > :not(:last-child) .input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}
