.b-longtext {
  --margin: var(--input-margin, 1px);
  --padding: var(--input-padding, 0.5rem);

  display: inline-block;
  position: relative;
  margin: var(--margin);
  vertical-align: top;
  max-width: 100% !important;

  &__remain {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.75em;
    margin: 0.5rem;
    opacity: 0.5;
  }

  textarea {
    font: inherit;
    resize: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: var(--padding);
    overflow: auto;
  }

  .block > &,
  &.block { width: calc(100% - 2 * var(--margin)) !important; }
}
