.b-selector {
  cursor: pointer;
  overflow: visible;

  &__label,
  &__placeholder {
    display: flex;
    align-items: center;
    gap: var(--padding);
    padding: var(--padding) 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
  }

  &__placeholder {
    margin: calc(-1 * var(--padding)) 0;
    opacity: 0.5;
  }
}
