.is-block {
  width: 100% !important;
  margin-inline: 0 !important;
  flex: 0 0 100% !important;
}

.is-invalid {
  --color: var(--error-color, crimson) !important;
  --accent-color: var(--error-color, crimson) !important;
  --border-color: var(--error-color, crimson) !important;
  --text-color: var(--error-color, crimson) !important;
  --bg-color: color-mix(in srgb, var(--error-color, crimson) 5%, transparent) !important;
}

.is-panel {
  background: var(--bg-color, #fff);
  color: var(--text-color, #333);
  border: var(--border, 1px solid #8884);
  border-radius: var(--radius, 0.25rem);
}

.is-disabled {
  --color: var(--disabled-color, #8886);
  --accent-color: var(--disabled-color, #8886);
  --bg-color: color-mix(in srgb, var(--disabled-color, #8886) 10%, transparent) !important;
  --text-color: var(--disabled-color, #8886) !important;
  --border-width: 0 !important;

  cursor: not-allowed !important;

  * { pointer-events: none !important; }
}

.placeholder,
*::placeholder {
  color: var(--text-color, #888) !important;
  opacity: 0.5 !important;
}

.is-input {
  --spacing: var(--input-spacing, 0.5rem);
  --border-width: var(--input-border-width, 1px);
  --bg-color: var(--input-bg-color, #fff);

  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: var(--spacing);
  padding: 0 var(--spacing);
  min-height: calc(1em + 2 * var(--spacing));
  background: var(--bg-color);
  color: var(--text-color, currentcolor);
  box-sizing: border-box;
  border: var(--border-width) solid var(--border-color, #8886);
  border-radius: var(--radius, 0.25em);
  text-align: left;

  .icon {
    --size: 1em !important;

    cursor: pointer;
    display: inline-block;
  }

  cursor: pointer;

  .placeholder { opacity: 1; }

  .selected,
  .placeholder {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.is-input:focus-within,
.toggler:focus-within,
.toggler:has(.is-input):has(+ :popover-open) {
  --border-color: var(--accent-color, #333);

  z-index: 1 !important;
}

.is-disabled .is-input,
:disabled .is-input {
  --bg-color: color-mix(in srgb, var(--disabled-color, #8886) 10%, transparent) !important;
  --text-color: var(--disabled-color, #8886) !important;
  --border-width: 0 !important;

  cursor: not-allowed !important;

  * { pointer-events: none !important; }
}

.invalid:not(:focus-within) .is-input,
.is-input.invalid:not(:focus-within),
.is-input:not(:focus-within):has(:user-invalid) {
  --color: var(--error-color, crimson);
  --border-color: var(--color) !important;
  --text-color: var(--color) !important;
  --bg-color: color-mix(in srgb, var(--color) 5%, transparent) !important;
}
